perl6/dot-zef/store/
perl6/dot-zef/tmp/
tmux/dot-tmux/plugins/
fish/dot-config/fish/fish_history
fish/dot-config/fish/fishd.*
fish/dot-config/fisherman/*
fish/dot-config/fish/functions/*
fish/dot-config/fish/conf.d/*
fish/dot-config/fish/completions/*
git/dot-config/hub
