perl6/.zef/store/
perl6/.zef/tmp/
tmux/.tmux/plugins/
fish/.config/fish/fish_history
fish/.config/fish/fishd.*
fish/.config/fisherman/*
fish/.config/fish/functions/*
fish/.config/fish/conf.d/*
fish/.config/fish/completions/*
git/dot-config/hub
