[user]
	name = {{ .name }}
	email = {{ .email }}
[credential]
	helper = osxkeychain
[push]
	default = simple
[core]
	excludefile = {{ .chezmoi.homeDir }}/.gitignore_global
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
	autocrlf = false
	filemode = false
	editor = gvim -f
    pager = delta
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3
[diff]
    submodule = log
    colorMoved = default
[init]
	defaultBranch = main
