#!/usr/bin/env bash

source /Users/brownn/perl5/perlbrew/etc/bashrc
export BYOBU_PREFIX=$(brew --prefix)

export PATH=$PATH:/Users/brownn/install/bin:/Users/brownn/projects/rakudo/install/languages/perl6/site/bin:/Users/brownn/projects/rakudo/install/bin:/Users/brownn/projects/rakudo/install/share/perl6/site/bin

eval "$(/opt/homebrew/bin/brew shellenv)"

# Load RVM, if you are using it
[[ -s $HOME/.rvm/scripts/rvm ]] && source $HOME/.rvm/scripts/rvm

# Add rvm gems and nginx to the path
export PATH=$PATH:/Users/brownn/.gem/ruby/1.8/bin

# Path to the bash it configuration
export BASH_IT=$HOME/.bash_it

# Lock and Load a custom theme file
# location /.bash_it/themes/
export BASH_IT_THEME='bobby'

# Your place for hosting Git repos. I use this for private repos.
export GIT_HOSTING='git@git.github.com'

# Set my editor and git editor
export EDITOR="/opt/homebrew/bin/vim"
export GIT_EDITOR='/opt/homebrew/bin/vim'

# Don't check mail when opening terminal.
unset MAILCHECK


# Change this to your console based IRC client of choice.

export IRC_CLIENT='irssi'

# Set this to the command you use for todo.txt-cli

export TODO="t"

# Set vcprompt executable path for scm advance info in prompt (demula theme)
# https://github.com/xvzf/vcprompt
#export VCPROMPT_EXECUTABLE=/Users/brownn/.vcprompt/bin/vcprompt

# Load Bash It
source $BASH_IT/bash_it.sh

test -e "${HOME}/.iterm2_shell_integration.bash" && source "${HOME}/.iterm2_shell_integration.bash"


COMP_FILES="/opt/homebrew/etc/bash_completion.d/*"
for comp in $COMP_FILES
do
    source $comp
done

export GOPATH=/Users/brownn/go
export PATH=$PATH:/Users/brownn/projects/v8-dev-area/depot_tools

export PATH="$HOME/.cargo/bin:$PATH"
