#!/usr/bin/env bash

source {{ .chezmoi.homeDir }}/perl5/perlbrew/etc/bashrc
export BYOBU_PREFIX=$(brew --prefix)

export PATH=$PATH:{{ .chezmoi.homeDir }}/install/bin:{{ .chezmoi.homeDir }}/projects/rakudo/install/languages/perl6/site/bin:{{ .chezmoi.homeDir }}/projects/rakudo/install/bin:{{ .chezmoi.homeDir }}/projects/rakudo/install/share/perl6/site/bin

# Load RVM, if you are using it
[[ -s $HOME/.rvm/scripts/rvm ]] && source $HOME/.rvm/scripts/rvm

# Add rvm gems and nginx to the path
export PATH=$PATH:{{ .chezmoi.homeDir }}/.gem/ruby/1.8/bin

# Path to the bash it configuration
export BASH_IT=$HOME/.bash_it

# Lock and Load a custom theme file
# location /.bash_it/themes/
export BASH_IT_THEME='bobby'

# Your place for hosting Git repos. I use this for private repos.
export GIT_HOSTING='git@git.github.com'

# Set my editor and git editor
export EDITOR="/usr/local/bin/vim"
export GIT_EDITOR='/usr/local/bin/vim'

# Don't check mail when opening terminal.
unset MAILCHECK


# Change this to your console based IRC client of choice.

export IRC_CLIENT='irssi'

# Set this to the command you use for todo.txt-cli

export TODO="t"

# Set vcprompt executable path for scm advance info in prompt (demula theme)
# https://github.com/xvzf/vcprompt
#export VCPROMPT_EXECUTABLE={{ .chezmoi.homeDir }}/.vcprompt/bin/vcprompt

# Load Bash It
source $BASH_IT/bash_it.sh

test -e "${HOME}/.iterm2_shell_integration.bash" && source "${HOME}/.iterm2_shell_integration.bash"


COMP_FILES="/usr/local/etc/bash_completion.d/*"
for comp in $COMP_FILES
do
    source $comp
done

export GOPATH={{ .chezmoi.homeDir }}/go
export PATH=$PATH:{{ .chezmoi.homeDir }}/projects/v8-dev-area/depot_tools

export PATH="$HOME/.cargo/bin:$PATH"
