# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.config/zsh/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# setup pager
if command -v bat > /dev/null ; then
    alias less='bat --pager "$PAGER $LESS" --style=snip,header --color=always '
fi

# ls tricks
if command -v exa > /dev/null ; then
    ls() {
        exa -F --git --color=always --color-scale -s=extension --group-directories-first $@
    }

    la() {
        ls --all $@
    }

    ll() {
        ls -ghlm --time-style=long-iso $@
    }

    lla() {
        ll --all $@
    }
else
    alias la='ls -a'
    alias ll='ls -l'
    alias lla='ls -la'
fi
alias -g broken-links='*(-@)'

if command -v bat > /dev/null ; then
    alias -g cat='bat'
fi


# aliases
alias zshconfig="$EDITOR $(chezmoi source-path)/*dot_config/*zsh/*dot_zshrc.tmpl"

# setup vi style keybindings
bindkey -v

# User configuration
fpath=(/opt/homebrew/share/zsh-completions /opt/homebrew/share/zsh/functions $fpath)
hash -d chezmoi=~/.local/share/chezmoi/

if [[ ${ZSH_MANAGER} = "ZINIT" ]]; then
    if [[ -f "$ZDOTDIR/zinit-config.zsh" ]]; then
        source "$ZDOTDIR/zinit-config.zsh"
    fi
elif [[ ${ZSH_MANAGER} = "ZIM" ]]; then
    # Download zimfw plugin manager if missing.
    if [[ ! -e ${ZIM_HOME}/zimfw.zsh ]]; then
        curl -fsSL --create-dirs -o ${ZIM_HOME}/zimfw.zsh \
            https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh
    fi

    # Install missing modules, and update ${ZIM_HOME}/init.zsh if missing or outdated.
    if [[ ! ${ZIM_HOME}/init.zsh -nt ${ZDOTDIR:-${HOME}}/.zimrc ]]; then
        source ${ZIM_HOME}/zimfw.zsh init -q
    fi

    if [[ -f "${ZIM_HOME}/init.zsh" ]]; then
        source "${ZIM_HOME}/init.zsh"
    fi
else
fi

## options
    zstyle ':zsh-hints:*:' dir ""
setopt NO_CASE_GLOB

## plugins=(dzil) #leftover from OMZ days

source {{ .chezmoi.homeDir }}/perl5/perlbrew/etc/bashrc
_evalcache {{ .chezmoi.homeDir }}/.rakubrew/bin/rakubrew init Zsh
_evalcache perl -I{{ .chezmoi.homeDir }}/perl5/lib/perl5 -Mlocal::lib={{ .chezmoi.homeDir }}/perl5

# fzf completions & keybindings
[ -f {{ .chezmoi.homeDir }}/.fzf.zsh ] && source {{ .chezmoi.homeDir }}/.fzf.zsh

source /opt/homebrew/share/zsh-you-should-use/you-should-use.plugin.zsh

# To customize prompt, run `p10k configure` or edit ~/.config/zsh/.p10k.zsh.
[[ ! -f $ZDOTDIR/.p10k.zsh ]] || source $ZDOTDIR/.p10k.zsh
