# setup pager
if command -v bat > /dev/null ; then
    alias less='bat --pager "$PAGER $LESS" --style=snip,header --color=always '
fi

# ls tricks
if command -v exa > /dev/null ; then
    ls() {
        exa -F --git --color=always --color-scale -s=extension --group-directories-first $@
    }

    la() {
        ls --all $@
    }

    ll() {
        ls -ghlm --time-style=long-iso $@
    }

    lla() {
        ll --all $@
    }
else
    alias la='ls -a'
    alias ll='ls -l'
    alias lla='ls -la'
fi

if command -v bat > /dev/null ; then
    alias -g cat='bat'
fi


# aliases
alias zshconfig="$EDITOR ~/.zshrc"

# setup vi style keybindings
bindkey -v

# User configuration
fpath=(/usr/local/share/zsh-completions /usr/local/share/zsh/functions $fpath)

# Added by Zinit's installer

if [[ ! -f ${ZINIT[BIN_DIR]}/zinit.zsh ]]; then
    print -P "%F{33}▓▒░ %F{220}Installing %F{33}DHARMA%F{220} Initiative Plugin Manager (%F{33}zdharma-continuum/zinit%F{220})…%f"
    command mkdir -p ${ZINIT[BIN_DIR]} && command chmod g-rwX ${ZINIT[BIN_DIR]}
    command git clone https://github.com/zdharma-continuum/zinit ${ZINIT[BIN_DIR]} && \
        print -P "%F{33}▓▒░ %F{34}Installation successful.%f%b" || \
        print -P "%F{160}▓▒░ The clone has failed.%f%b"
fi

source ${ZINIT[BIN_DIR]}/zinit.zsh
autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

# Load a few important annexes, without Turbo
# (this is currently required for annexes)
zinit light-mode for \
    zdharma-continuum/z-a-as-monitor \
    zdharma-continuum/z-a-patch-dl \
    zdharma-continuum/z-a-bin-gem-node

# End of Zinit's installer chunk

zinit wait lucid for \
    atinit"ZINIT[COMPINIT_OPTS]=-C; zicompinit; zicdreplay" \
        zdharma-continuum/fast-syntax-highlighting \
    atload"_zsh_autosuggest_start" \
        zsh-users/zsh-autosuggestions \
    blockf atpull'zinit creinstall -q .' \
        zsh-users/zsh-completions \
    zdharma-continuum/zui \
    PZT::modules/homebrew/init.zsh \
    svn pick"macos.plugin.zsh" OMZ::plugins/macos \
    svn OMZ::plugins/git \
    svn OMZ::plugins/git-extras \
    svn OMZ::plugins/colorize \
    svn OMZ::plugins/copydir \
    svn OMZ::plugins/copyfile \
    svn OMZ::plugins/cp \
    svn OMZ::plugins/tmux \
    svn OMZ::plugins/fasd \
    svn OMZ::plugins/emoji \
    wfxr/forgit \
    changyuheng/zsh-interactive-cd \
    unixorn/fzf-zsh-plugin.git \
    nbrown/nbrown-zsh-settings \
    MenkeTechnologies/zsh-very-colorful-manuals \


zinit ice wait'!' lucid atload'source ~/.p10k.zsh; _p9k_precmd' nocd
zinit light romkatv/powerlevel10k

## options
setopt NO_CASE_GLOB

## plugins=(dzil) #leftover from OMZ days

source ~/perl5/perlbrew/etc/bashrc
eval "$({{ .chezmoi.homeDir }}/.rakubrew/bin/rakubrew init Zsh)"
eval "$(perl -I$HOME/perl5/lib/perl5 -Mlocal::lib=$HOME/perl5)"

# fzf completions & keybindings
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

source /usr/local/share/zsh-you-should-use/you-should-use.plugin.zsh

